.cover-media-container {
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: top;
	position: absolute;
}
.cover-media-container .embed-container { 
		position: relative; 
		height: 100%;
		overflow: hidden;
		max-width: 100%;
	} 

.cover-media-container .embed-container iframe,
.cover-media-container .embed-container object,
.cover-media-container .embed-container embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
